.botao {
  background-color: #19B3E6;
  color: #ffffff;
  font-size: 1.8em; }

body {
  background-color: red;
  background-image: url(c95e29fed29c25da599062d58ba76ddc.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

